body {
  font-family: Roboto;
}
img {
  max-width: 100%;
}
.btn {
  color: #09236b;
  font-size: 16px;
  font-weight: 500;
  border: 3px solid #09236b;
  padding: 0.5rem 1rem;
  text-decoration: none;
  svg {
    margin-left: 1rem;
  }
}
h1 {
  color: #09236b;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1.35px;
  @include media-breakpoint-down(md) {
    font-size: 25px;
  }
}
h2 {
  color: #09236b;
  font-size: 60px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}
h3 {
  color: #09236b;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.96px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}
p {
  font-size: 21px;
  font-weight: 300;
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
a {
  color: #09236b;
}
.sz-bold {
  color: #09236b;
  font-size: 29px;
  font-weight: 700;
  line-height: 1.2;
}
.link {
  color: #09236b;
  font-size: 21px;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
  width: max-content;
  span {
    margin-right: 1rem;
  }
}
.post-title {
  max-width: 60%;
  span {
    color: #525252;
    font-size: 19px;
    font-weight: 500;
  }
}
#post {
  .bold {
    font-size: 28px;
    font-weight: 400;
  }
  .semi {
    font-size: 25px;
    margin-bottom: 20px;
  }
  ul {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
  }
}
#breadcrumbs {
  a {
    text-transform: uppercase;
    color: #09236b;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
  }
  svg {
    margin: 0 1rem;
  }
}
section {
  &.blue-bgr {
    background-color: #f3f3f3;
  }
}
.post {
  background-color: #f3f3f3;
  padding: 60px;
  margin-bottom: 30px;
  display: block;
  text-decoration: none;
  .date {
    color: #525252;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin-bottom: 30px;
  }
  .title {
    color: #09236b;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }
}
.pagination {
  .pag {
    color: #494949;
    font-size: 22px;
    font-weight: 500;
    margin: 0 2rem;
    cursor: pointer;
  }
}
#post_slider {
  .splide__slide {
    background: #e0e0e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 120px;
    color: #ffffff;
  }
  .splide__arrow {
    width: 75px;
    height: 75px;
    border-radius: 0;
    background: #ffffff;
  }
}
.company-title {
  color: #09236b;
  font-size: 32px;
  font-weight: 400;
}
#history {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 3rem;
  .splide__arrows {
    position: absolute;
    bottom: 100%;
    right: 0;
    .splide__arrow2 {
      background: #f3f3f3;
    }
  }
  .d-flex {
    border-top: solid 1px #c4c4c4;
  }
  .year {
    padding-top: 1rem;
    color: #09236b;
    font-size: 85px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: -3.4px;
    line-height: 1;
    border-top: solid 5px #09236b;
  }
  .descr {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
// mixins
@mixin underline {
  &::after {
    content: "";
    display: block;
    border-bottom: solid 2px #09236b;
  }
}
@mixin project {
  .address {
    color: #09236b;
    font-size: 18px;
    font-weight: 500;
  }
  .status {
    opacity: 0.9;
    color: #09236b;
    font-size: 13px;
    font-weight: 900;
    border: 1px solid rgba(9, 35, 107, 0.2);
    padding: 0 0.5rem;
  }
  .info {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .title {
    color: #09236b;
    font-size: 34px;
    font-weight: 500;
  }
  .description {
    color: #3d4047;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 2rem;
  }
  @include media-breakpoint-down(md) {
    .address {
    }
    .title {
      font-size: 25px;
    }
    .description {
      font-size: 16px;
    }
  }
}
