footer {

  .logo {
    img {
      max-width: 250px;
    }
  }
  .menu-1 {
    .nav-item {
      flex-basis: 50%;
    }
    .nav-link {
      color: #09236b;
      font-size: 27px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: -0.54px;
    }
  }
  .menu-2 {
    .nav-item {
      flex-basis: 50%;
    }
    .nav-link {
      color: #09236b;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.32px;
    }
  }
  .line {
    width: 1px;
    padding: 0;
    margin: 0;
    background-color: #c4c4c4;
  }
  .contacts {
    text-align: right;
    display: flex;
    flex-direction: column;
    color: #09236b;
    .phone {
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -0.6px;
    }
    .mail {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -0.4px;
    }
    .address {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: -0.32px;
      margin-top: auto;
    }
  }
  .h-line {
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
  }
  .foot-0 {
    padding-bottom: 12px;
    flex-wrap: wrap;
    div {
      &:first-child {
        color: #373737;
        letter-spacing: -0.28px;
        font-size: 14px;
        font-weight: 500;
      }
      &:nth-child(2) {
        margin-left: 40px;
        color: #373737;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.28px;
      }
      &:last-child {
        display: flex;
        align-items: center;
        svg {
          margin-left: 16px;
        }
      }
    }
  }
  @include media-breakpoint-down(xxxl) {
    .logo {
      img {
        max-width: 150px;
      }
    }
    .menu-1 {
      .nav-link {
        font-size: 18px;
        white-space: nowrap;
      }
    }
    .menu-2 {
      .nav-link {
        font-size: 10px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    .menu-1 {
      .nav-link {
        font-size: 14px;
      }
    }
    .contacts {
      max-width: 250px;
      .phone {
        font-size: 20px;
      }
      .mail {
        font-size: 16px;
      }
      .address {
        font-size: 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .logo {
      display: none;
    }
    .contacts {
      text-align: left;
      max-width: unset;
    }
  }
  @include media-breakpoint-down(md) {
    .menu-1 {
      .nav-item {
       flex-basis: 100%;
       text-align: center;
      }
      .nav-link {
        font-size: 20px;
      }
    }
    .menu-2 {
      .nav-item {
       flex-basis: 100%;
       text-align: center;
      }
      .nav-link {
        font-size: 18px;
      }
    }
    .contacts {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
