#main-slider {
  img {
    width: 100%;
  }
  .slide-content {
    position: absolute;
    bottom: 60px;
    left: 60px;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include project;
    .dots {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 2rem;
      .dot {
        width: 5px;
        height: 5px;
        background-color: rgba(9, 35, 107, 0.38);
        &.active {
          background-color: #09236b;
        }
      }
    }
    .vall {
      color: #09236b;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      @include underline;
    }
  }
  .splide__arrows {
    position: absolute;
    right: 60px;
    bottom: 60px;
  }
}
.splide__arrows {
  display: flex;
  .splide__arrow2 {
    position: initial;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 8px;
  }
}
.tile {
  background-position: center;
  background-size: cover;
  color: #09236b;
  padding: 40px;
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f3f3f3;
    transition: 0.3s;
  }
  .title {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    max-width: 60%;
  }
  .icon {
    margin-left: auto;
    width: max-content;
    position: absolute;
    right: 40px;
    bottom: 40px;
  }
  &:hover {
    color: #fff;
    &::before {
      background-color: transparentize($color: #09236b, $amount: 0.3);
    }
    .icon {
      svg {
        g {
          opacity: 1 !important;
          path {
            fill: #ffffff !important;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xxxl) {
    .title {
      font-size: 20px;
    }
  }
}
#dlinks {
  .sz-bold {
    flex: 3;
  }
  .link {
    flex: 1;
  }
}
.filters {
  flex: 1;
  display: flex;
  .fragment {
    margin: 0 2rem;
  }
  .label {
    color: #434447;
    font-size: 14px;
    font-weight: 400;
    margin: 0 .5rem;
  }
  label {
    >span {
      color: #6d6f72;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.32px;
      margin: 0 .25rem;
    }
    input {
      &[type="radio"] {
        display: none;
        &:checked {
          &+span {
            color: #09236b;
            border-bottom: solid 2px #09236b;
          }
        }
      }
    }
  }
  .select2-container--default {
    color: #09236b;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
    .select2-selection--single {
      border: 0;
      border-bottom: solid 2px #09236b;
      border-radius: 0;
      background: none;
    }
  }
  button {
    color: #09236b;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background: none;
    border: 0;
    @include underline;
  }
}
.project {
  .info {
    background-color: rgba(241, 241, 241, 0.9);
    max-width: 80%;
    margin: auto;
    padding: 2rem;
    margin-top: -20%;
    position: relative;
    z-index: 2;
    @include project;
    .btn {
      display: inline-block;
    }
  }
}
#sliders {
  background-color: #f3f3f3;
}
.galery {
  .splide__slide {
    padding: 0 2rem;
  }
  .g_slide {
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .splide__arrows {
    position: absolute;
    bottom: 100%;
    right: 0;
  }
  @include media-breakpoint-down(md) {
    margin-top: 6rem;
  }
}
#qestions {
  background-color: #f3f3f3;
}
.qestion {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 3rem;
  .qest {
    color: #09236b;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.88px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin-bottom: 2rem;
    &::after {
      content: "";
      padding: 15px;
      display: block;
      border-bottom: 3px solid #09236b;
      border-right: 3px solid #09236b;
      transform: rotate(45deg) translateY(-100%);
      // margin: 2rem;
    }
  }
  .answ {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    max-height: 0px;
    overflow: hidden;
  }
  &.active {
    .qest {
      &::after {
        opacity: 0.3;
        transform: rotate(45deg) translateY(-50%) translateX(50%)
          rotateZ(180deg);
      }
    }
    .answ {
      max-height: 1000px;
    }
  }
}
#map {
  display: flex;
  .contacts {
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #09236b;
    background-color: #ffffff;
    padding: 2rem;
    position: absolute;
    .phone {
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -0.6px;
    }
    .mail {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -0.4px;
    }
    .address {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      letter-spacing: -0.32px;
      margin-top: auto;
    }
  }
}