header {
  padding-top: 37px;
  padding-bottom: 37px;
  .nav {
    .nav-link {
      color: #09236b;
      font-family: Roboto;
      font-size: 17px;
      font-weight: 700;
    }
    .nav-item {
    }
  }
}
